﻿


/*공통사용 클래스*/
html {overflow:hidden;}
html, body {width:100%; height:100%; font-family:'KTfontMedium', NanumBarunGothic, '나눔바른고딕';}
html {font-size:16px; line-height:1.25em; color:#555; word-break:brak-all;}
footer {display:bock;}
img {border:0; vertical-align:middle;}

* { margin:0; padding:0; border:0}
* {box-sizing:border-box;}
* {font-weight:400}
s

@font-face {
 font-family:"KTfontBold";
 font-weight:bold;
 src:url("/nlp/resources/css/font/KTfontBold.ttf");
 src:local("/nlp/resources/css/font/KTfontBold"),
   url("/nlp/resources/css/font/KTfontBold.ttf") format('woff'),
}

@font-face {
 font-family:"KTfontMedium";
 font-weight:600;
 src:url("/nlp/resources/css/font/KTfontMedium.ttf");
 src:local("/nlp/resources/css/font/KTfontMedium"),
   url("/nlp/resources/css/font/KTfontMedium.ttf") format('woff'),
}

@font-face {
 font-family:"KTfontLight";
 font-weight:400;
 src:url("/nlp/resources/css/font/KTfontLight.ttf");
 src:local("/nlp/resources/css/font/KTfontLight"),
   url("/nlp/resources/css/font/KTfontLight.ttf") format('woff'),
}


.fl{float:left}
.fr{float:right}
.cf:after{content: ' ';
	display: block;
	clear:both}
*{font-weight: 400;}
body{width: 100%;  margin: 0 auto; position: relative; color:#363737;}
.chatbot_wrap{background: #fff;}

/*헤더*/
.header_wrap{background-color: transparent; width: 100%!important; min-width:0px!important; 
transition: background 0.2s ease-in-out;}
.header_wrap ul .refresh_home a{background-image: url(../images/home.png);margin-right: 8px;}

#logo{width: auto; margin-left: 0px; position: relative; left: 0px; top:0px;}
#logo_txt{font-size: 1em;  line-height: 60px;}
#logo_txt > span{font-family:'KTfontBold'; display: inline-block; padding-left:20px; font-size:21px; font-weight:700; color:#333;} /*text-shadow:0px 1px 1px rgba(0,0,4,0.2);}*/
#logo_txt > i.ci{content: ''; width: 29px; height: 29px; background: url(../images/kt_ci.png) no-repeat; background-size: 100%; display: inline-block;
margin-right: 10px; position: relative; top:9px;} 
.header_wrap .ot_menu{top:16px; margin-top: 0px;}
.header_wrap ul li a:hover{box-shadow:  0px 1px 2px #0b4a48;}
.header_wrap ul .alram{position: relative;}
.header_wrap ul .alram a{background-image: url(../images/alram.png);margin-right: 8px;}
.header_wrap ul .alram  .count{position: absolute;
top: -7px;width: 20px;height: 20px;background: #ffb400;
color: #fff;border-radius: 10px;text-align: center;font-weight: 800;right: 2px;line-height: 21px;}

 /*채팅창 Layout*/
.talk_wrap{margin:0; height: 100%; padding-bottom: 53px;}

/*채팅 입력 푸터*/
.footer_wrap .footer{padding-right: 60px; position: relative;}
.footer_wrap .footer .add a{background:url(../images/plus_grey.png) no-repeat center; background-size: 50%;}
.footer_wrap .footer input.txt_answer{ width: 95%!important; background: #ffffff; border: 1px solid #e6e6e6; border-radius: 5px 0px 0px 5px;}
.footer_wrap .footer input.txt_answer.onCall{background: #ebebeb;}
.footer_wrap .footer .ot_menu{position: absolute; top: 0; right: 70px;}
.footer_wrap .footer .add{margin: 18px 8px;}
.footer_wrap .footer .add .input_txt{ font-size: 13px; color: #9aa0a1;text-align: center;display: inline-block;}
.footer_wrap .footer.write_wrap2{padding-left:10px;}

/*채팅 영역*/
.chat_area{width: 100%;box-sizing: border-box; padding: 20px 20px 0px;}
.chat_area .message_Q{width: 100%; text-align: right;margin-top: 10px;}
.chat_area .message_A{width: 100%; text-align: left; margin-top: 10px;}
.chat_area .date{display: inline-block; width: auto;font-size: 12px;vertical-align: bottom; color: #909090; margin-right: 6px; margin-left: 6px;}
.chat_area .msg_balloon {width: auto;display: inline-block; color:#555; background:#f2f2f2;padding: 5px 10px;border-radius: 10px;font-size: 1em;border: 0px solid #84bdba; max-width: 60%; position: relative; line-height: 20px; /*box-shadow: 0px 1px 2px rgba(0,0,4,0.3);*/ }
.chat_area .message_Q .msg_balloon{text-align: left;}
.chat_area .message_Q .msg_balloon:before{content: ''; position: absolute; right: -15px; top: -5px;width: 22px; height: 25px;  
    background: url(/nlp/resources/images/rigth_tip.png) no-repeat center 10px; }

/*****************챗봇 답변 메세지 스타일******************/

.chat_area .message_A .msg_balloon {width: auto;display:inline-block;color:#555; background:#e7f6ff; padding: 5px 10px; border-radius: 10px;font-size: 1em;border: 0px solid #dee5ee; max-width: 80%; position: relative; line-height: 20px; }
.chat_area .message_A .msg_balloon:before {content: ''; position: absolute; left: -15px; top: -5px;width: 22px; height: 25px;  
    background: url(/nlp/resources/images/left_tip.png) no-repeat center 10px; }
.chat_area .message_A .msg_balloon .msg_tit{color: #4487ea; font-weight: 500; display: block; margin-bottom: 10px;}
.chat_area .message_A .nic_name{ display: inline-block;font-weight: 400;position: relative;
top: -24px; width: 75%;width: calc(100% - 50px);}
.chat_area .message_A .sthing_wrap{display: inline-block;right: -5px; bottom: 0px;position: relative;}
.chat_area .message_A .report_btn{display: block;font-size: 12px;padding: 2px 4px 0px;border: 1px solid #ccc;border-radius: 5px;background: #E8E8E8; color: #909090;  position: relative;  width: 47px; margin-bottom: 3px;}
.chat_area .message_A .report_btn > i{width: 13px;height: 13px; display: inline-block;position: relative;top: 0px;float: right; background: url(../images/ic_siren.png) no-repeat;background-size: 100%;}

/* ----------------------------------------------- 레이아웃  ----------------------------------------------- */
.chatbot_wrap { 
	position:relative; top:0; bottom:0;
	width:100%;
	min-width:420px;
}

/* ----------------------------------------------- 상단바 -----------------------------------------------  */
.header_wrap {
	position: relative; top:0;
	width: 100%;
	min-width: 600px;
	height: 55px;	
	z-index: 99;
	overflow:hidden;
	border-bottom:solid 1px #eeeeee;
}


/* 텍스트 메시지 */
.header_wrap .logo a{
	display:block;
	font-size:1.95em;
	line-height:67px;
	letter-spacing:-0.25px;
	word-spacing:-1px;
	color:#ffffff;
}

.header_wrap .logo a.kbox{
	line-height:62px;
}

.header_wrap .logo a.kbox span{ 
	display:inline-block;
	margin-top:6px;
	margin-left:5px;
	vertical-align:middle;
	font-size:19px;
	font-weight:400;
	letter-spacing:0px;
	word-spacing:0px;
	line-height:59px;	
}
/* ----------------------------------------------- //상단바 -----------------------------------------------  */

/* ----------------------------------------------- 하단채팅바 -----------------------------------------------  */
.footer_wrap {
	position:absolute; 
	bottom:0;
	transform: translateY(100%);
	width: 100%;
	min-width: 420px;
	height: 53px;
	z-index: 99;
	border-top:1px solid #dde3ed;
	background:#ffffff;	
}

.footer_wrap .footer{
	height:100%;
	position:relative;
	padding-left:52px;
	/* padding-right:124px; */
	padding-right:60px;
}
.footer_wrap .footer:after{
	content:''; clear:both; display:block;
}
.footer_wrap .footer .add{
	position:absolute; left:0; top:0;
	height: 100%;
}
.footer_wrap .footer .add a{
	display:block;
	width:52px;
	height:100%;
	background:#f0f3f7 url(../images/ico_add@2x.png) no-repeat center center;		
	background-size:17px 17px;	
}
.footer_wrap .footer input.txt_answer {	
	width:calc(100% - 10px) !important;
	margin-top:7px;
	margin-right: -3px;
	padding:6px 5px 6px 10px;
	border:0 !important;
	font-size:1em;
	color:#3d404a;
}
.footer_wrap .footer input.txt_answer::placeholder {
	color: #b5bdca;
}
.footer_wrap .footer input.txt_answer:-ms-input-placeholder {
	color: #b5bdca;
}
.footer_wrap .footer .submit_btn a{
   position:absolute; top:0; right:0;
   width:60px;
	height:100%;
	line-height:50px;
	font-size:1.143em;
	text-align:center;
	color:#ffffff;
}
.footer_wrap .footer .submit_btn.on {
	/* background-color: #d73b3b; */
}
.footer_wrap .footer .ot_menu{
	float:right;
	margin-top:2px;
}
.footer_wrap .footer .ot_menu li{
	float:left;
}
.footer_wrap .footer .ot_menu li a{
	display:block;
	width:40px; height:46px;
}
.footer_wrap .footer .ot_menu li.kw a{
	background:url(../images/ico_tag@2x.png) no-repeat center center;	
	background-size:14px 16px;
}
/* ----------------------------------------------- //하단채팅바 -----------------------------------------------  */

/* ----------------------------------------------- 대화창본문 ------------------------------------------------ */
.talk_wrap {
	position: relative;	
	width: 100%;
	height: calc(100% - 107px);
	margin: 0px 0 53px 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

#send-message{
	background-image:url('/nlp/resources/images/ico_send.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:30px 31px;
}


.loading_A .msg_balloon{
	background-image:url('/nlp/resources/images/loading.gif') !important;
	background-position:center !important;
	background-repeat:no-repeat !important;
	background-size:45px 12.27px !important;
	width:100px !important;
	height:30px;
}