@CHARSET "UTF-8";

html body  {height:100%; }
#Nlp_main-app {
  background: #ffffff;
  min-width:1260px;
}

.NLP_section {display:flex; }

ul li {list-style:none; }
textarea, input { border-radius:5px!important; padding:10px; border:solid 1px #a7b9ca!important; }
button {font-size:1em!important; padding:0 25px!important;}

.txt_al_c {text-align:center;}
.fl {float:left; }
.fr {float:right;}

.box_drag {box-shadow:0px 3px 1px -2px rgb(63 81 181 / 10%), 0px 2px 2px 0px rgb(63 81 181 / 10%), 0px 1px 5px 0px rgb(63 81 181 / 10%)}

.box_01 {color:#a7b9ca; border:solid 1px #a7b9ca!important;}
.box_02 {color:#577fa5; border:solid 2px #a7b9ca!important; background-color:#fff; margin-bottom:2px;}
.box_03 {color:#3f51b5; border:solid 2px #3f51b5!important; background-color:#fafafa; font-weight:700;}
.box_04 {color:#577fa5; border:solid 2px #a7b9ca!important; background-color:#fafafa; margin-bottom:2px; text-overflow:ellipsis;}

.Lnb {width:250px;min-width:250px; min-height:877px; height:100vh; background-color:#fbfeff; border-right:solid 1px #e7f1f3; box-sizing:border-box; }
.Lnb_1dep {font-size:22px; line-height:50px; color:#202020; font-weight:600; letter-spacing:-2px; padding-top:50px;}
.Lnb_1dep a:link {color:#202020!important; text-decoration:none!important;}
.Lnb_1dep a:visited {color:#202020!important; text-decoration:none!important;}
.Lnb_1dep a:hover  {color:#000!important; text-decoration:none!important;}
.Lnb_1dep a:active {color:#000!important; text-decoration:none!important;}

.Lnb_2dep {font-size:16px; line-height:40px; color:#555; font-weight:600;}
.Lnb_2dep a:link {color:#555!important; text-decoration:none!important;}
.Lnb_2dep a:visited {color:#555!important; text-decoration:none!important;}
.Lnb_2dep a:active  {color:#333!important; text-decoration:none!important;}
.Lnb_2dep a:hover  {color:#333!important; text-decoration:none!important;}

.contents { max-width:1200px; }
.text_cont {border-bottom : solid 1px #ccc; padding:10px 0 20px 0;}
.text_info {background:url(/nlp/resources/images/ico_info.png) no-repeat; color:#3f51b5; line-height:40px; padding-left:50px; margin-top:30px; font-size:20px;}


/* NLP filter */

.struct_01 {width:45%; height:500px; float:left; margin-right:0px; border:solid 1px #ccc; background-color:#f4f7fc; border-radius:10px; box-sizing:border-box; padding:20px; display:flex; flex-direction:column; justify-content:space-around; gap:200px;}

.struct_02 {width:10%; height:500px; float:left; text-align:center; display:flex; flex-direction:column; justify-content:space-around; gap:200px; align-items:center;}


button.btn_filter {z-index:2; left:-10px; height:48px!important; background-color:#3f51b5!important; letter-spacing:-1px;}
.struct_03 {width:45%!important; float:right; }
.category { padding:10px; margin:10px 0px 10px 0px; clear:both; margin-bottom:48px;}
.category ul li { float:left; }
.category ul li a { text-decoration:none; }
.category h4 {font-weight:600;float:left;line-height:50px; margin-right:10px; } 
.category-item { border-radius: 20px; padding:10px; margin:2px; border:solid 1px #dce2e8; 	
	box-shadow:0px 3px 1px -2px rgb(63 81 181 / 10%), 0px 2px 2px 0px rgb(63 81 181 / 10%), 0px 1px 5px 0px rgb(63 81 181 / 10%)}



