@CHARSET "UTF-8";


html, body {font-family:'KTfontBold','KTfontMedium','KTfontLight', NanumBarunGothic, '나눔바른고딕';}


@font-face {
 font-family:"KTfontBold";
 font-weight:bold;
 src:url("/nlp/resources/css/font/KTfontBold.ttf");
 src:local("/nlp/resources/css/font/KTfontBold"),
   url("/nlp/resources/css/font/KTfontBold.ttf") format('woff'),
}

@font-face {
 font-family:"KTfontMedium";
 font-weight:600;
 src:url("/nlp/resources/css/font/KTfontMedium.ttf");
 src:local("/nlp/resources/css/font/KTfontMedium"),
   url("/nlp/resources/css/font/KTfontMedium.ttf") format('woff'),
}

@font-face {
 font-family:"KTfontLight";
 font-weight:400;
 src:url("/nlp/resources/css/font/KTfontLight.ttf");
 src:local("/nlp/resources/css/font/KTfontLight"),
   url("/nlp/resources/css/font/KTfontLight.ttf") format('woff'),
}


.wrap_main {width:100%; background:url(/nlp/resources/images/bg_main.png);  }
.cont_chat { width:600px; height:650px; margin:0 auto; background-color:#fff; border-radius:10px;
box-shadow:0px 3px 1px -2px rgb(63 81 181 / 10%), 0px 5px 10px 0px rgb(63 81 181 / 10%), 0px 5px 10px 0px rgb(63 81 181 / 10%)}

h1 {font-weight:700!important; font-family:'KTB'!important; font-size:50px!important;}
.chat_title_text {font-size: 20px; line-height:50px;}


