@CHARSET "UTF-8";


.struct_01 {width:45%; height:500px; float:left; margin-right:0px; border:solid 1px #ccc; background-color:#f4f7fc; border-radius:10px; box-sizing:border-box; padding:20px; display:flex; flex-direction:column; justify-content:space-around; gap:200px;}

.struct_02 {width:10%; height:500px; float:left; text-align:center; display:flex; flex-direction:column; justify-content:space-around; gap:250px; align-items:center;}

.struct_03 {width:45%!important; float:right; }

button.btn_filter {z-index:2; left:-10px; height:48px!important; background-color:#3f51b5!important; letter-spacing:-1px;}

.category { padding:10px; margin:20px 0px 10px 0px;}
.category-item { border-radius: 20px; padding:10px; margin:2px; border:solid 1px #dce2e8;	
	box-shadow:0px 3px 1px -2px rgb(63 81 181 / 10%), 0px 2px 2px 0px rgb(63 81 181 / 10%), 0px 1px 5px 0px rgb(63 81 181 / 10%)}



